<% layout('layouts/boilerplate') %>
<div class="flex justify-center mt-10">
    <div class="w-full max-w-2xl">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <h4 class="font-bold text-xl mb-2"><%= err.message %></h4>
            <!-- hide message in production
            <% if(process.env.NODE_ENV !== "production") { %>
                <p class="text-sm"><%= err.stack %></p>
            <% } %>
            -->
        </div>
    </div>
</div>
