body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center;
}
.cover-container {
    max-width: 90vw;
}
.nav-link {
    color: white;
    font-weight: 500;
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}
.nav-link:hover {
    color: #ffc107;
    border-bottom: 0.25rem solid #ffc107;
    transition: all 1s;
    
}
.nav-link.active {
    color: #ffc107;
    border-bottom: 0.25rem solid #ffc107;
}
.btn-secondary:hover{
    color: #ffc107 !important;
    border-radius: 15px;
}